<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>ESRI-to-googleMaps</Name><AddInID>{58eebd26-c52e-4b31-858d-f20ef943594a}</AddInID><Description>Tools for locating current position in ArcMap to Google Maps</Description><Version>0.2</Version><Image>Images\G.png</Image><Author>Bruce Christensen</Author><Company>Orange County Fire Authority</Company><Date>07/24/2017</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="ESRI_to_gMap_addin.py" namespace="ESRI_to_gMap_addin"><ArcMap>
    <Commands>
        <Button caption="To Vector" category="ESRI-to-googleMaps" class="ButtonClass1" id="ESRI_to_gMap_addin.button" image="Images\pinPoint.png" message="" tip="View current XY in Google Maps"><Help heading="" /></Button>
        <Button caption="3D" category="ESRI-to-googleMaps" class="ButtonClass2" id="ESRI_to_gMap_addin.button_1" image="Images\3Dmds.png" message="" tip="3D view of current position"><Help heading="" /></Button>
        <Button caption="Bicycle Routes" category="ESRI-to-googleMaps" class="ButtonClass3" id="ESRI_to_gMap_addin.button_2" image="Images\Bike.png" message="" tip=""><Help heading="" /></Button>
        <Button caption="Orange County Traffic Map" category="ESRI-to-googleMaps" class="ButtonClass4" id="ESRI_to_gMap_addin.button_3" image="Images\CarRoutes4_5.png" message="" tip=""><Help heading="" /></Button>
        <Button caption="Google Search" category="ESRI-to-googleMaps" class="ButtonClass23" id="ESRI_to_gMap_addin.button_4" image="Images\G.png" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="ESRI to Google conversion tools" category="ESRI-to-googleMaps" id="ESRI_to_gMap_addin.toolbar" showInitially="true"><Items><Button refID="ESRI_to_gMap_addin.button" /><Button refID="ESRI_to_gMap_addin.button_1" /><Button refID="ESRI_to_gMap_addin.button_2" /><Button refID="ESRI_to_gMap_addin.button_3" /><Button refID="ESRI_to_gMap_addin.button_4" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>